*{
    font-family: Garamond;
    color: white;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#uklad{
    height: 100vh;
    margin: 0 auto;
}

header{
    background-color: indigo;
    text-align: center;
    padding: 2px;
    height: 10%;
}

#lewa{
    width: 20%;
    height: 75%;
    background-color: indigo;
    float: left;
}

#srodek{
    width: 60%;
    height: 75%;
    background-color: black;
    float: left;
    overflow: scroll;
}

#prawa{
    width: 20%;
    height: 75%;
    background-color: indigo;
    float: right;
}

footer{
    clear: both;
    height: 15%;
    background-color: indigo;
}

button{
    color: black;
    margin: 10px;
}

.liczba{
    background-color: tomato;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
}

li{
    padding: 5px;
}

input{
    color: indigo;
    margin: 10px;
}
figure{
    float: left;
    padding: 3px;
}
figcaption{
    text-align: center;

}

